body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
textarea {
  width: 60%;
  margin: 10px 0px;
  padding: 5px;
  min-height: 100px;
  min-width: 60%;
  max-width: 90%;
  border: 1.5px solid black;
  border-radius: 10px;
  font-size: 1.5rem;
}
button {
  background-color: white;
  margin-bottom: 10px;
  width: 100px;
  height: 40px;
  transition: 0.15s;
  border: 1.5px solid black;
}
button:hover {
  background-color: red;
}
.result {
  text-align: center;
  padding-top: 15px;
  width: 60%;
  min-height: 22px;
  border-radius: 10px;
  background-color: rgb(236, 236, 236);
}
